charset "UTF-8";


/*共通部分*/
html{
  font-size: 3rem;

}
body{
  font-family: Abril Fatface;
  max-width: 70%;
  margin:0 auto;
  background: -moz-radial-gradient(top, #fff, #f6efdb);
  background: -webkit-radial-gradient(top, #fff, #f6efdb);
  background: radial-gradient(to bottom, #fff, #f6efdb);
 }

/*ヘッダー*/
.page-header{/*ヘッダー全体*/
  background-image: url(../images/macbook.jpg);
  padding:0px;
  margin: auto;
  text-align: center;  /*画像を中央寄せしたい→いろいろいじくってみたが分からない*/
                       /*何故かできちゃった。""親要素""にtext-alignをつけることでできた*/

}

.logo{    /*画像*/
  height: 120px;
  padding: 30px;
}

.main-nav{
  display: flex;
  font-size: 1.5rem;
  margin-top: 20px;
  background: #5b5c76;
  background: -moz-linear-gradient(top, #5b5c76, );
  background: -webkit-linear-gradient(top, #5b5c76, );
  background: linear-gradient(to bottom, #5b5c76, );
  padding-left: 5%;/*メニュー左右の余白調整*/
  padding-right: 10%;
}

.main-nav li{
  width: 600px;    /*フレックスを使用すると適応しなくなる*/
  margin:0 1px;
  padding:300px; /*ここ変えても変化なし。*/
  list-style: none;
  color: white;
  background-color: black;
  padding:10px 10%;
  /*サイトより追加*/
  overflow: hidden;
}
.main-nav li a{
  display: block;     /*ナビをクリックできる範囲広げたい*/
  padding: 8px 16px;
  text-decoration: none;

     /*ナビをクリックできる範囲広げたい*/
}

a:active, a:link, a:visited{
  color: white;
}
a:hover {
  color:gray;
}

/*メイン内容*/


.macbook-pic{
  width: 40%;
}

span{
  color:#193278;
}
.pic{                /*a要素にtext-align center付けたけど適応されず。なぜ？*/
  text-align: center;/*div要素で囲ってdivに書いたらできた。→親と子の関係性が必要か。*/
       /*width 40%をつけたらtext-align senterが適応しなくなったので外した。*/
}

.main-sentence{
  text-align: center;
  font-size: 2rem;  /*文字サイズ変わらないのは何故？→変わってた。適応ページを誤認してた。*/
}
.about-sentence{
  font-size: 1.25rem;
}
.umi-pic{
  width: 100%;
}
/*Contact*/
#contact{

}
label{
  font-size: 1.25rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea{
  background: rgba(255, 255, 255,.5);
  border:1px black solid;
  border-radius: 5px;
  padding:10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 240px;
}
textarea{
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"]{
  padding:0 3%;
  margin-left: 5%;
  font-size: 1.25rem;
  border-radius: 5px;
  background: #5b5c76;
  color:white;
  border:none;
  cursor: pointer;/*これ何？多分カーソルおいたときに指のマークになるやつ。*/
  line-height: 2;
}

/*フッター*/
footer{
  background: tan;
  padding:50px;
  text-align: center;
}
